@font-face {
    font-family: "Anonymous Pro";
    src: url(./fonts/AnonymousPro-Regular.woff) format('woff'),
    url(./fonts/AnonymousPro-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(./fonts/AnonymousPro-Bold.woff) format('woff'), 
    url(./fonts/AnonymousPro-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: "Soyuz Grotesk";
    src: url(./fonts/Soyuz\ Grotesk\ Bold.woff) format('woff'), 
    url(./fonts/Soyuz\ Grotesk\ Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
    display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anonymous Pro";
}

header{
    height: 112px;
    padding: 24px 190px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav > ul > li > a {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.footer__nav > ul > li > a {
    color: #fff;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 24px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: black;
    background-color: #F1F1F1;
    min-height: 120vh;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    width: 90%;
}

.content__second {
    margin: 48px 0 32px 0;
}

.content__title {
    font-size: 48px;
    font-weight: bold;
    margin: 32px 0;
}

.content__cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 26px;
    column-gap: 24px;
    row-gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 364px;
}

.card__image {
    width: 100%;
    height: 100%;
    max-width: 364px;
    border-radius: 12px 12px 0 0;
} 

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    min-height: 120px;
    border-radius: 0 0 12px 12px;
    padding: 35px 24px;
    
}

.card__link {
    color: #000;
    text-decoration: none;
    
}

.card__text {
    font-size: 26px;
    font-weight: bold;
}

.card__text__about {
    font-size: 20px;
    font-weight: 300;
    padding-top: 12px;
}

footer {
    background-color: #121723;
    padding: 32px 190px;
    color: #fff;
    min-height: 151px;
}

.line {
    background-color: #676B73;
    height: 1px;
    margin: 32px 0px 24px 0px;
}

.name__firma {
    text-align: center;
    font-size: 16px;
    color: #A1A6B4;
}

.card__product {
    border-radius: 54px;
    padding: 48px;
    background-color: #fff;
}

.personal__image {
    width: 100%;
}

.name__first {
    font-size: 48px;
    font-weight: 300;
}

.name__second {
    font-size: 36px;
    font-weight: 200;
    padding: 32px 0;
}

.info__product {
    display: flex;
    gap: 32px;
}

.product__text {
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;
    width: 50%;
}
.product__property {
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border-bottom: 1px solid #121723;
    font-size: 20px;
    font-weight: 200;
    margin: 24px 0px;
    height: 50px;
}

.scale {
    text-align: right;
}

.title__table {
    font-size: 30px;
    font-weight: 200;
}

.liked {
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    padding: 24px 0 24px 24px;
}

@media screen and (max-width: 1440px) {
    header {
        height: 100%;
        padding: 24px 58px;
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 100%;
        padding: 24px 38px;
    }

    .header__logo {
        width: 90%;
    }

    .content {
        width: 100%;
        margin: 0;
    }

    .content__title {
        font-size: 42px;
        font-weight: bold;
        margin: 32px 24px 0 24px;
    }

    .content__cards  {
        padding: 32px 24px;
        margin: 0;
    }

    footer {
        padding: 32px;
    }

    .footer__logo {
        width: 90%;
    }
    .card__product {
        margin: 32px 24px;
        padding: 24px;
    }
    .info__product {
        flex-direction: column;
    }
    .product__text {
        width: 100%;
    }
    table {
        width: 200%;
    }
}


@media screen and (max-width: 375px) {
    .container {
        flex-direction: column;
        gap: 24px;
    }
    
    .name__first {
        font-size: 32px;
    }

    .name__second {
        font-size: 20px;
    }
    .product__text {
        font-size: 16px;
        width: 100%;
    }
    .info__product {
        flex-direction: column;
    }
    .title__table {
        font-size: 24px;
    }
    td {
        font-size: 16px;
    }
    .footer__logo {
        width: 100%;
    }
    .card__product {
        margin: 32px 16px;
        padding: 24px;
    }
    table {
        width: 200%;
    }
}